.marker {
  padding: 15px 20px;
  margin: 20px 0;
  display: inline-block;
}

.marker--not-complete {
  background: gray;
  color: darkgray;
}

.marker--is-complete {
  background: springgreen;
  color: white;
}
